<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add 
			name="patchmanagementdb" 
			providerName="System.Data.SqlClient"
			connectionString="Data Source=DESKTOP-R6SI9VD;Initial Catalog=spencerswupdate;Integrated Security=True;Connection Timeout=60"/>
	</connectionStrings>
</configuration>