<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">
	<targets>
	  <target name="ErrorTarget"
            xsi:type="File"
            fileName="${basedir}/logs/Errorlog.txt"
		    archiveFileName="Errorlog.{#}.txt"
		    archiveNumbering="Date"
		    archiveEvery="Day"
		    archiveDateFormat="yyyyMMdd"
            layout="
            -------------- ${level} (${longdate}) --------------${newline}
            ${newline}
            Call Site: ${callsite}${newline}
            Exception Type: ${exception:format=Type}${newline}
            Exception Message: ${exception:format=Message}${newline}
            Stack Trace: ${exception:format=StackTrace}${newline}
            Additional Info: ${message}${newline}" />
	  <target name="InfoTarget"
			xsi:type="File"
			layout="${longdate}|${level}|${message}"
			fileName="${basedir}/logs/Infolog.txt"
			archiveFileName="Infolog.{#}.txt"
			archiveNumbering="Date"
			archiveEvery="Day"
			archiveDateFormat="yyyyMMdd" />
  </targets>

  <rules>
	  <logger levels="Error,Warn,Fatal" name="fileLogger" writeTo="ErrorTarget"/>
	  <logger levels="Info,Debug,Trace" name="InfoLogger" writeTo="InfoTarget"/>
  </rules>
</nlog>
